In [2]:
import pandas as pd
wdir = "c:/Users/user/Desktop/KCDC/Gastric/Ref/"
bim = pd.read_csv(wdir+"Case_Control_merge_rmfreq.bim",delim_whitespace = True,header = None)
ref = pd.read_csv(wdir+"Axiom_KOR.annot.extract.addINDEL.Final.REF.txt",delim_whitespace = True,header = None)
#bim.columns = ["CHR","MARKER_ID","FAM_ID","POS","REF","ALT"]

new_id = []
toy = bim[0:10]
print(toy)
for i in range(0,len(toy)):
    #try:
        #print(ref.loc[ref[0] == bim[1][i]])
        index = ref.loc[ref[0] == toy[1][i]]
       # print(index[1] == toy[4][i])
        #index[1] == bim[4][i]
        
        if (index[1] == toy[4][i]).bool():
            new_id.append(str(toy[0][i]) + ":" + str(toy[3][i]) +"_"+str(toy[4][i])+"/"+str(toy[5][i]))
        else:
            new_id.append(str(toy[0][i]) + ":" + str(toy[3][i]) +"_"+str(toy[5][i])+"/"+str(toy[4][i])) 
            
            temp = toy.loc[i,5]
            toy.loc[i,5] = toy.loc[i,4]
            toy.loc[i,4] = temp
    #except KeyError as error:
    #    continue
print(new_id)
toy.loc[:,1] = new_id
toy

   0             1  2       3  4  5
0  1   AX-83277131  0  762485  A  C
1  1   AX-64175821  0  792643  G  A
2  1   AX-32415015  0  834956  A  G
3  1   AX-32416607  0  835499  G  A
4  1   AX-32429231  0  839461  C  T
5  1   AX-32455597  0  848456  G  A
6  1   AX-32460873  0  850371  G  T
7  1   AX-32461903  0  850780  C  T
8  1  AX-113228954  0  852820  C  T
9  1   AX-32469373  0  852964  T  G
['1:762485_C/A', '1:792643_A/G', '1:834956_G/A', '1:835499_A/G', '1:839461_T/C', '1:848456_A/G', '1:850371_G/T', '1:850780_C/T', '1:852820_T/C', '1:852964_T/G']

   0             1  2       3  4  5
0  1  1:762485_C/A  0  762485  C  A
1  1  1:792643_A/G  0  792643  A  G
2  1  1:834956_G/A  0  834956  G  A
3  1  1:835499_A/G  0  835499  A  G
4  1  1:839461_T/C  0  839461  T  C
5  1  1:848456_A/G  0  848456  A  G
6  1  1:850371_G/T  0  850371  G  T
7  1  1:850780_C/T  0  850780  C  T
8  1  1:852820_T/C  0  852820  T  C
9  1  1:852964_T/G  0  852964  T  G

In [3]:
toy.loc[4,5]

'C'