In [1]:
import pandas as pd

In [6]:
name1 = pd.Series(["Kim","Lee","Choi","Son"])
age1 = pd.Series([10,20,19,29])
df1 = pd.DataFrame({"name" : name1,"age" : age1})
print("df1 : ")
print(df1)

name2 = pd.Series(["Lee","Park"])
age2 = pd.Series([20,99])
df2 = pd.DataFrame({"name":name2,"age":age2})
print("df2 : ")
print(df2)

name3 = pd.Series(["Kim","Lee","Choi","Son","Koo"])
sex = pd.Series([1,2,1,2,2])
df3 = pd.DataFrame({"name" : name3,"sex" : sex})
print("df3 : ")
print(df3)

df1 :
   name  age
0   Kim   10
1   Lee   20
2  Choi   19
3   Son   29
df2 :
   name  age
0   Lee   20
1  Park   99
df3 :
   name  sex
0   Kim    1
1   Lee    2
2  Choi    1
3   Son    2
4   Koo    2

In [4]:
print("Merge (pd.concat)  : ")
concat_df = pd.concat([df1,df2],axis = 0,ignore_index=True)
concat_df

Merge (pd.concat)  :

   name  age
0   Kim   10
1   Lee   20
2  Choi   19
3   Son   29
4   Lee   20
5  Park   99

In [5]:
print("Merge (pd.merge)")
merge_df = pd.merge(df1,df2,"outer")
merge_df

Merge (pd.merge)

   name  age
0   Kim   10
1   Lee   20
2  Choi   19
3   Son   29
4  Park   99

In [9]:
pd.concat([df1,df2,df3],ignore_index= True)

C:\Users\user\Python\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     age  name  sex
0   10.0   Kim  NaN
1   20.0   Lee  NaN
2   19.0  Choi  NaN
3   29.0   Son  NaN
4   20.0   Lee  NaN
5   99.0  Park  NaN
6    NaN   Kim  1.0
7    NaN   Lee  2.0
8    NaN  Choi  1.0
9    NaN   Son  2.0
10   NaN   Koo  2.0

In [10]:
pd.merge([df1,df2,df3])

TypeError: merge() missing 1 required positional argument: 'right'