In [1]:
import pandas as pd

In [2]:
name1 = pd.Series(["Kim","Lee","Choi","Son"])
age1 = pd.Series([10,20,19,29])
df1 = pd.DataFrame({"name" : name1,"age" : age1})
print("df1 : ")
print(df1)

name2 = pd.Series(["Lee","Park"])
age2 = pd.Series([20,99])
df2 = pd.DataFrame({"name":name2,"age":age2})
print("df2 : ")
print(df2)

name3 = pd.Series(["Kim","Lee","Choi","Son","Koo"])
sex = pd.Series([1,2,1,2,2])
df3 = pd.DataFrame({"name" : name3,"sex" : sex})
print("df3 : ")
print(df3)

df1 :
   name  age
0   Kim   10
1   Lee   20
2  Choi   19
3   Son   29
df2 :
   name  age
0   Lee   20
1  Park   99
df3 :
   name  sex
0   Kim    1
1   Lee    2
2  Choi    1
3   Son    2
4   Koo    2

In [3]:
print("Merge (pd.concat)  : ")
concat_df = pd.concat([df1,df2],axis = 0,ignore_index=True)
concat_df

Merge (pd.concat)  :

   name  age
0   Kim   10
1   Lee   20
2  Choi   19
3   Son   29
4   Lee   20
5  Park   99

In [4]:
print("Merge (pd.merge)")
merge_df = pd.merge(df1,df2,"outer")
merge_df

Merge (pd.merge)

   name  age
0   Kim   10
1   Lee   20
2  Choi   19
3   Son   29
4  Park   99

In [5]:
pd.concat([df1,df2,df3],ignore_index= True)

C:\Users\user\Python\Anaconda\envs\DataScience\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     age  name  sex
0   10.0   Kim  NaN
1   20.0   Lee  NaN
2   19.0  Choi  NaN
3   29.0   Son  NaN
4   20.0   Lee  NaN
5   99.0  Park  NaN
6    NaN   Kim  1.0
7    NaN   Lee  2.0
8    NaN  Choi  1.0
9    NaN   Son  2.0
10   NaN   Koo  2.0

In [6]:
print(pd.merge(df1,df2,'outer'))
pd.merge(pd.merge(df1,df2,'outer'),df3,'outer')

   name  age
0   Kim   10
1   Lee   20
2  Choi   19
3   Son   29
4  Park   99

   name   age  sex
0   Kim  10.0  1.0
1   Lee  20.0  2.0
2  Choi  19.0  1.0
3   Son  29.0  2.0
4  Park  99.0  NaN
5   Koo   NaN  2.0

In [7]:
print(pd.merge(df1,df2,'inner'))
pd.merge(pd.merge(df1,df2,'outer'),df3,'inner')

  name  age
0  Lee   20

   name  age  sex
0   Kim   10    1
1   Lee   20    2
2  Choi   19    1
3   Son   29    2

In [25]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)
    Merge DataFrame or named Series objects with a database-style join.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : tuple of (str, str), default ('_x', '_y')
        Suffix to apply to overlapping column names in the left and right
        side, respectively. To raise an exception on overlapping columns use
        (False, False).
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

        .. versionadded:: 0.21.0

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------

    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')