In [1]:
import pandas as pd

In [6]:
def fileRead(fileIn):
    f = open(fileIn,'r')
    inData = [r.replace("\r","").replace("\n","").split("\t") for r in f]
    return inData

In [35]:
#meta_file = open("C:/Users/user/Desktop/KCDC/BMI_association/Meta/Meta_bmi_v1_dm.txt",'r')

In [62]:
#fre = open("C:/Users/user/Desktop/KCDC/BMI_association/freq/outDir/slim_v1.txt",'r')

In [77]:
fre = pd.read_csv("C:/Users/user/Desktop/KCDC/BMI_association/freq/outDir/slim_v1.txt",delim_whitespace = True)

In [42]:
for i,f in enumerate(meta_file):
    a = f.replace('r','').replace('\n','').split("\t")
    print(a[0],fre[i])
    
    if i == 3:
        break

1:569374_T/C_1:569374 ['SNP', 'Frq']
1:569714_T/C_1:569714 ['10:61372_CA/C_10:61372', '0.40566599999999997']
1:592088_T/C_1:592088 ['10:65087_T/C_10:65087', '0.224527']
1:702216_G/T_1:702216 ['10:65878_C/G_10:65878', '0.384822']

In [79]:
meta = pd.read_csv("c:/Users/user/Desktop/KCDC/BMI_association/Meta/Meta_bmi_v1_dm.txt",delim_whitespace = True)

In [64]:
meta.head()

,SNP,REF,ALT,BETA,P,SE,N,MAF
0,1:61822_C/A_1:61822,C,A,-0.027579,0.716880,0.076050,39855,0.002431
1,1:70594_G/C_1:70594,G,C,-0.296420,0.062866,0.159350,39855,0.000602
2,1:88714_T/A_1:88714,T,A,-0.053743,0.442240,0.069939,39855,0.003241
3,1:99665_C/A_1:99665,C,A,-0.295500,0.063707,0.159360,39855,0.000598
4,1:135135_C/T_1:135135,C,T,-0.293260,0.065763,0.159370,39855,0.000592

In [78]:
fre.head()

                         SNP       Frq
0     10:61372_CA/C_10:61372  0.405666
1      10:65087_T/C_10:65087  0.224527
2      10:65878_C/G_10:65878  0.384822
3      10:66326_A/G_10:66326  0.066634
4  10:66627_TAAAC/T_10:66627  0.408120

In [83]:
#df = pd.concat([meta,fre],axis = 1,sort = False)

In [91]:
for version in ["v1","v2"]:
    fre = pd.read_csv("C:/Users/user/Desktop/KCDC/BMI_association/freq/outDir/slim_"+version+".txt",delim_whitespace = True)
    for concept in ["dm","nodm"]:
        meta = pd.read_csv("c:/Users/user/Desktop/KCDC/BMI_association/Meta/Meta_bmi_"+version+"_"+concept+".txt",delim_whitespace = True)
        pd.merge(meta,fre,on = 'SNP').to_csv("c:/Users/user/Desktop/KCDC/BMI_association/Meta/Final_Bmi_meta_form_"+version+"_"+concept+".txt", index = False,sep = '\t',quotechar = "\"")

In [90]:
fre = []
meta = []

In [2]:
Final = pd.read_csv("c:/Users/user/Desktop/KCDC/BMI_association/Meta/Final_Bmi_meta_form_v1_dm.txt",delim_whitespace = True)

In [3]:
Final.head()

,SNP,REF,ALT,BETA,P,SE,N,MAF,Frq
0,1:61822_C/A_1:61822,C,A,-0.027579,0.716880,0.076050,39855.0,0.002431,0.002309
1,1:70594_G/C_1:70594,G,C,-0.296420,0.062866,0.159350,39855.0,0.000602,0.000559
2,1:88714_T/A_1:88714,T,A,-0.053743,0.442240,0.069939,39855.0,0.003241,0.002734
3,1:99665_C/A_1:99665,C,A,-0.295500,0.063707,0.159360,39855.0,0.000598,0.000559
4,1:135135_C/T_1:135135,C,T,-0.293260,0.065763,0.159370,39855.0,0.000592,0.000559