In [1]:
#### 결과 값 확인 및 비교 
#### compare sungmin's with YJ's

In [6]:
wdir = "C:/Users/user/Desktop/KCDC/"

In [177]:
def filein(datain):
    a = open(datain,'r')
    return [s.replace("\n","") for s in a]

def df_split_index(datain,front,tail):
    out = {}
    for s in datain[1:]:
        i = s[0]
        j = s[front:(tail+1)]
        out[i] = j
    return out

def df_extract_ID(datain):
    #out = []
    #for s in datain[1:]:
    #    out.append(s[0])
    return [s[0] for s in datain[1:]]

def match_df(a,b,front,tail):
    index = df_extract_ID(a)
    colname = a[0]
    a = df_split_index(a[1:],front,tail)
    b = df_split_index(b[1:],front,tail)
    
    df =[]
    df.append([colname[0],"yj_"+colname[front],"yj_"+colname[tail],"sm_"+colname[front],"sm_"+colname[tail],"match","wrong","empty"])
    print(df)
    for i in index:
        match = 0
        wrong = 0
        empty = 0
        out = []
        out.append(i)    
        #out.append(b[i][0])
        #out.append(b[i][1])
        #out.append(a[i])    
        #if "NA" in a[i]:
        #    empty = 1+0

        #"NA" in sm_a['NIH19KT0003']

        #if a[i].pop() in b[i]:

In [178]:
match_df(sm[0:5],yj[0:5],5,6)

a = ["123","456"]
print(a[1])

[['IID', 'yj_DRB1', 'yj_DRB2', 'sm_DRB1', 'sm_DRB2', 'match', 'wrong', 'empty']]

KeyError: 'NIH19KT0001'

In [109]:
yj = filein(wdir+"transplantation/HLAtyping/HLA_JG_2DGT_imputed.txt")
sm = filein(wdir+"HLAimputation/Result/HLA_imptation_2d_without_3_alleles.txt")
print(yj[0:5])
print(sm[0:5])

['ID\tA1\tA2\tB1\tB2\tDRB1\tDRB2', 'NIH19KT0001\t2\t33\t40\t44\t8\t13', 'NIH19KT0003\t2\t24\t7\t15\t1\t11', 'NIH19KT0004\t2\t24\t44\t48\t11\t13', 'NIH19KT0005\t24\t33\t15\t46\t1\t4']
['IID A1 A2 B1 B2 DRB1 DRB2', 'NIH19KT0001 02 33 40 44 08 13', 'NIH19KT0003 24 24 07 15 01 NA', 'NIH19KT0004 02 02 44 48 09 13', 'NIH19KT0005 02 33 15 46 01 04']

In [110]:
yj = [s.split("\t") for s in yj]
sm = [s.split(" ") for s in sm]
print("YJ : ")
print(yj[0:5])
print("sm : ")
print(sm[0:5])

YJ :
[['ID', 'A1', 'A2', 'B1', 'B2', 'DRB1', 'DRB2'], ['NIH19KT0001', '2', '33', '40', '44', '8', '13'], ['NIH19KT0003', '2', '24', '7', '15', '1', '11'], ['NIH19KT0004', '2', '24', '44', '48', '11', '13'], ['NIH19KT0005', '24', '33', '15', '46', '1', '4']]
sm :
[['IID', 'A1', 'A2', 'B1', 'B2', 'DRB1', 'DRB2'], ['NIH19KT0001', '02', '33', '40', '44', '08', '13'], ['NIH19KT0003', '24', '24', '07', '15', '01', 'NA'], ['NIH19KT0004', '02', '02', '44', '48', '09', '13'], ['NIH19KT0005', '02', '33', '15', '46', '01', '04']]

In [155]:
sm_a = df_split_index(sm[0:10],5,6)
yj_a = df_split_index(sm[0:5],5,6)
sm_a
"NA" in sm_a['NIH19KT0003']
x = sm_a['NIH19KT0003'].pop()
y = sm_a['NIH19KT0003'].pop()
#match_df(sm[0:5],yj[0:5],5,6)
print(x,y)

NA 01

In [164]:
match_df(sm[0:5],yj[0:5],5,6)

[['IID', 'yj_DRB1', 'yj_DRB2', 'sm_DRB1', 'sm_DRB2', 'match', 'wrong', 'empty']]
{'NIH19KT0003': ['1', '11'], 'NIH19KT0004': ['11', '13'], 'NIH19KT0005': ['1', '4']}
['NIH19KT0001']
{'NIH19KT0003': ['1', '11'], 'NIH19KT0004': ['11', '13'], 'NIH19KT0005': ['1', '4']}
['NIH19KT0003']
{'NIH19KT0003': ['1', '11'], 'NIH19KT0004': ['11', '13'], 'NIH19KT0005': ['1', '4']}
['NIH19KT0004']
{'NIH19KT0003': ['1', '11'], 'NIH19KT0004': ['11', '13'], 'NIH19KT0005': ['1', '4']}
['NIH19KT0005']

In [151]:
sm_a = df_split_index(sm[0:10],5,6)
sm_a
out =[]
out.append(sm_a['NIH19KT0003'][0])
out.append(sm_a['NIH19KT0003'][1])
out.append("hi")
out

['01', 'NA', 'hi']

In [76]:
out = []
out.append(["1","kim","lee"])

In [77]:
out

[['1', 'kim', 'lee']]